<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-white pb-5">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/" class="me-4 mr-4 text-reset" target="_blank" rel="noopener">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/" class="me-4 mr-4 text-reset" target="_blank" rel="noopener">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com" class="me-4 mr-4 text-reset" target="_blank" rel="noopener">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://www.x.com" class="me-4 mr-4 text-reset" target="_blank" rel="noopener">
        <i class="fab fa-x"></i>
      <a href="https://www.github.com" class="me-4 mr-4 text-reset" target="_blank" rel="noopener">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4 me-3 text-left">
            Native Spirit Studio
          </h6>
          <p class="text-left text-white small"> Native Spirit Studio is inspired by mindfulness, self-reflection, ancient wisdom, and a connection to nature. Our collection of blankets, jewellery, and home décor brings warmth, comfort, and meaning into everyday life. </p> 
          <p class="text-left text-white small">Through thoughtfully selected products and our Mindfulness Journal, we encourage gratitude, reflection, and personal wellbeing.</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
            <p class="small text-white logo-font mb-2"><a href="{% url 'products' %}" class="dropdown-item text-left">All Products</a></p>
            <p class="small text-white text-left mb-0"><a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a></p>
            <p class="small text-white text-left mb-3"><a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a></p>
            <h6 class="small text-white logo-font fw-bold mb-2">Collections</h6>
            <p class="small text-white text-left  mb-0"><a href="{% url 'products'%}?category=necklaces,bracelets,rings" class="dropdown-item">Jewellery</a></p> 
            <p class="small text-white text-left mb-0"><a href="{% url 'products' %}?category=dreamcatchers,blankets,rugs" class="dropdown-item">Home & Decor</a></p>
            <p class="small text-white text-left mb-0"><a href="{% url 'products'%}?category=teas,candles,wellness_gift_boxes" class="dropdown-item">Wellness</a></p>  
        </div>
        <!-- Grid Column-->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          {% if request.user.is_authenticated %}
             <a href="{% url 'profile' %}" class="dropdown-item text-left small">My Profile</a>
             <a href="{% url 'journal' %}" class="dropdown-item text-left small">My Journal</a>
            {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item text-left small">Product Management</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item text-left small">Logout</a>
            {% endif %}
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item text-left small">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item text-left small">Login</a>
        {% endif %}
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-left">Contact</h6>
            <p class="d-flex text-left small">
                <i class="fas fa-home me-3 mt-1 mr-1"></i>
                <span>
                Dreamland Valley<br>
                Boulevard of Happy<br>
                1111, The Earth
                </span>
            </p>

            <p class="text-left small">
                <i class="fas fa-envelope me-3 mr-1"></i>
                nativespiritstudio@example.com
            </p>

            <p class="text-left small">
                <i class="fas fa-phone me-3 mr-1"></i>
                +00 111 186 26
            </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-3 small">
    © 2026 Copyright: Hana Rubesova
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->